.bundles-cta__line {
    clip-path: inset(0 100% 0 0);
    opacity: 0;
    transition: clip-path .3s cubic-bezier(0, 0, .2, 1), opacity .3s cubic-bezier(0, 0, .2, 1);

    &:hover {
    }
}

.bundles-cta__title {
    &:hover,
    &.is-active {
        .bundles-cta__line {
            clip-path: inset(0% 0 0 0);
            opacity: 1;
        }
    }
}

.shopify-pc__banner__dialog {
    @apply bg-light-base!;

    h2 {

    }
}

.shopify-pc__banner__btn-accept,
.shopify-pc__banner__btn-decline {
    @apply border! border-black! text-black! hover:bg-linen! hover:text-black! transition-colors! ease-joe.inOut! duration-300! text-14! h-40! px-24! py-12! inline-flex! items-center! justify-center! rounded-full! tracking-10! font-500! leading-1! whitespace-nowrap! cursor-pointer;
}

#shopify-pc__banner__body-title {
    @apply font-serif font-400 text-32;
}

.shopify-challenge__container {
    margin-block: 9rem !important;
}

.shopify-challenge__button {
    @apply border-black bg-black text-white  disabled:bg-black! disabled:text-white! disabled:cursor-not-allowed hover:bg-comfort hover:border-comfort transition-colors ease-joe.inOut duration-300 text-12 sm:text-14 h-40 px-24 py-12 inline-flex items-center justify-center rounded-full tracking-10 font-500 leading-1 whitespace-nowrap cursor-pointer;
}

#stamped-main-widget {
    margin: 0;

    @variant sm {
        margin-top: -5.5rem;
    }

    @variant lg {
        margin-top: -6rem;
    }

    .stamped-container {
        margin: 0 !important;
        max-width: none;
    }

    .stamped-header {
        @variant sm {
            margin-bottom: 3rem;
        }
    }

    .stamped-header-title,
    .summary-overview,
    .stamped-tab-container,
    .stamped-review-product,
    .stamped-review-share,
    .stamped-review-image,
    .stamped-review-avatar,
    .stamped-review-variant {
        display: none !important;
    }

    .stamped-summary-actions > span {
        @apply border border-black text-black hover:bg-linen hover:text-black transition-colors ease-joe.inOut duration-300 text-14 h-40 px-24 py-12 inline-flex items-center justify-center rounded-full tracking-10 font-sans font-500 leading-1 whitespace-nowrap cursor-pointer;
        box-shadow: none !important;

        &:before {
            content: none;
        }
    }

    .stamped-reviews {
        @variant lg {
            @apply grid grid-cols-3 gap-48;
        }
    }

    .stamped-review {
        margin: 0;
        padding: 0;
        border: 0;
    }

    .stamped-review-content {
        margin: 0 !important;
    }

    .stamped-rating-holder {
        @apply text-black/50;
    }
    .fa-check-circle-o, .fa-share-alt, .fa-thumbs-down, .fa-thumbs-up, .stamped-fa-check-circle-o, .stamped-fa-share-alt, .stamped-fa-thumbs-down, .stamped-fa-thumbs-up {
        @apply text-black/50 hover:text-black transition-colors;
    }

    .stamped-sort-select {
        border: 0 !important;
        background: transparent !important;
        -webkit-appearance: auto;
        border-bottom: 1px solid !important;
        border-radius: 0 !important;
    }

    .stamped-form-contact .stamped-form-input,
    .stamped-form-review-title .stamped-form-input  {
        @apply placeholder:text-14  placeholder:text-black/35 w-full border-0 border-b px-16 h-44 focus:outline-0 border-black;
    }

    .stamped-form-input.stamped-form-input-textarea {
        @apply placeholder:text-14  placeholder:text-black/35 w-full border-b border-black px-16 h-156 resize-none focus:outline-0;
    }
    .new-review-form, .stamped-content form {
        border: 0 !important;


        @variant lg {
            padding: 2rem !important;
        }
    }

    #stamped-button-submit {
        @apply border border-black bg-black text-white  disabled:bg-black! disabled:text-white! disabled:cursor-not-allowed hover:bg-comfort hover:border-comfort transition-colors ease-joe.inOut duration-300 text-12 sm:text-14 h-40 px-24 py-12 inline-flex items-center justify-center rounded-full tracking-10 font-500 leading-1 whitespace-nowrap cursor-pointer;
    }
}

.stamped-pagination {
    margin-top: 2rem !important;

    .page.active {
        text-decoration: none !important;
    }
}

.fa-star, .fa-star-checked, .fa-star-half-o, .fa-star-o, .stamped-fa-star, .stamped-fa-star-checked, .stamped-fa-star-half-o, .stamped-fa-star-o {
    @apply text-yellow;
}


.stamped-badge-caption {
    @apply text-14 text-black/70;
}

.stamped-badge {
    @apply flex gap-16 items-center;
}

.shopify-block.recharge-subscription-widget {
    @apply justify-start!;
}