/* Top */
@utility splitfix-t-* {

	padding-top: calc(var(--spacing) * --value(integer));
	margin-top: calc((var(--spacing) * --value(integer)) * -1);
}

/* Bottom */
@utility splitfix-b-* {

	padding-bottom:calc(var(--spacing) * --value(integer));
	margin-bottom: calc((var(--spacing) * --value(integer)) * -1);
}

/* Left */
@utility splitfix-l-* {

	padding-left: calc(var(--spacing) * --value(integer));
	margin-left: calc((var(--spacing) * --value(integer)) * -1);
}

/* Right */
@utility splitfix-r-* {

	padding-right: calc(var(--spacing) * --value(integer));
	margin-right: calc((var(--spacing) * --value(integer)) * -1);
}

/* X-Axis (Left + Right) */
@utility splitfix-x-* {

	padding-inline: calc(var(--spacing) * --value(integer));
	margin-inline: calc((var(--spacing) * --value(integer)) * -1);
}

/* Y-Axis (Top + Bottom) */
@utility splitfix-y-* {

	padding-block: calc(var(--spacing) * --value(integer));
	margin-block: calc((var(--spacing) * --value(integer)) * -1);
}
